@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "CustomFont";
  src: url("./fonts/OHIOPLAYER-XEO.TTF");
}

:root {
  --header-color: #1d1f25;
  --etchFrameColor: #1d1f25;
  --etchDrawBoardColor: white;
  --modalColor: white;
  --textModal: #282936;
  --page-color: white;
}

body {
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.main-header {
  width: 1100px;
  font-family: "CustomFont", sans-serif;
  font-size: 2.5rem;
  margin: 1rem auto 1.5rem auto;
  text-align: center;
  letter-spacing: 5px;
  line-height: 70px;
  color: var(--etchFrameColor);
}

.etch-frame {
  width: 700px;
  height: 500px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--etchFrameColor);
  border-radius: 20px;
  box-shadow: 16px 14px 37px 0px rgba(0, 0, 0, 0.6),
    inset 5px 0px 13px -5px rgba(255, 255, 255, 0.5),
    inset -7px 7px 7px -9px rgba(255, 255, 255, 0.6);
  border: 0.5px solid #1d1f25;
}

.board-header {
  font-family: "CustomFont", sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
  padding-top: 15px;
}

.board {
  margin: auto;
  background-color: var(--etchDrawBoardColor);
  border-radius: 8px;
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.08),
    1px 0px 0 rgba(255, 255, 255, 0.08), 1px 2px 0 rgba(255, 255, 255, 0.08),
    2px 1px 0 rgba(255, 255, 255, 0.08), 2px 3px 0 rgba(255, 255, 255, 0.08),
    3px 2px 0 rgba(255, 255, 255, 0.08), 3px 4px 0 rgba(255, 255, 255, 0.08),
    4px 3px 0 rgba(255, 255, 255, 0.08), 4px 5px 0 rgba(255, 255, 255, 0.08),
    5px 4px 0 rgba(255, 255, 255, 0.08), -0px -1px 0 rgba(0, 0, 0, 0.05),
    -1px -0px 0 rgba(0, 0, 0, 0.05), -1px -2px 0 rgba(0, 0, 0, 0.05),
    -2px -1px 0 rgba(0, 0, 0, 0.05), -2px -3px 0 rgba(0, 0, 0, 0.05),
    -3px -2px 0 rgba(0, 0, 0, 0.05), -3px -4px 0 rgba(0, 0, 0, 0.05),
    -4px -3px 0 rgba(0, 0, 0, 0.05), -4px -5px 0 rgba(0, 0, 0, 0.05),
    -5px -4px 0 rgba(0, 0, 0, 0.05);
}

.knob-container {
  margin: -20px 0 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.knob {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: inset -4px 4px 12px 0px rgba(29, 31, 37, 0.6),
    inset 0px 4px 13px -3px rgba(29, 31, 37, 0.6),
    inset 0px 0px 0px 0px rgba(29, 31, 37, 0.6),
    inset 0px 0px 7px 0px rgba(29, 31, 37, 0.6);
}
.knob-l {
  margin-left: 20px;
}
.knob-r {
  margin-right: 20px;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: "Anonymous Pro";
}
